
body {
  padding: 20;
  margin: 20;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
// .app-container{
//   margin-right: 30px;
// }
.app-container{
  .header-container{
        .navbar-nav {
          .nav-link{
            // code ngang hàng scss dùng &
            &.active{
              color:#00bfff;
            }
          }
        }
  }
}
